*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
   
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    height: 56px;
    padding: 10px 2%;
    justify-content: space-between;
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-left{
    gap: 20px;
}
.nav-left .bi-list {
    font-size: 25px;
    margin-left: 0 10px;
    padding: 10px;
}
.nav-left .bi-list:hover{
    background-color: rgb(198,198,198);
    border-radius: 50%;
}
.nav-left .yt-logo{
    width: 130px;
    margin-left: -10px;
}
.nav-left .logo span{
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    bottom: 10px;
    right: 10px;
    color: rgb(67, 67, 67);
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 12px;
    border-radius: 25px;
    height: 40px;
}
.nav-middle .search-box input{
    width: 550px;
    height: 100%;
    border: 0;
    outline: 0;
}
.search-box .d-none{
    display: none;
}
.search-box:focus-within .d-none{
    display: flex !important;
    margin-right: 10px;
}
.search-box .search{
    background-color: rgb(248,248,248);
    border: 1px solid rgb(198,198,198);
    border-radius: 0px 40px 40px 0px;
    width: 70px;
    height: inherit;
    margin-right: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-middle .search-box input::placeholder{
    font-size: 17px;
}
.nav-middle .bi-mic-fill {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(162, 162, 162);
    border-radius: 50%;
    cursor: pointer;
}
.nav-middle .bi-mic-fill:hover{
    background-color: rgb(198,198,198);
}
.nav-right{
    gap: 10px;
}
.bi-camera-video, .bi-bell {
    font-size: 20px;
    padding: 10px;
}
.bi-camera-video:hover{
    border-radius: 50%;
    background-color: rgb(198,198,198);
}
.bi-bell:hover{
    border-radius: 50%;
    background-color: rgb(198,198,198);
}
.nav-right .user-icon{
    border-radius: 50%;
    width: 35px;
    margin-right: 0;
}
.notification{
    position: relative;
    margin-right: 10px;
}
.notification .badge{
    position: absolute;
    top: -5px;
    left: 20px;
    width: 23px;
    height: 16px;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    font-size: 13px;
    border: 2px solidrgba(255,255,255,0.98);
    font-weight: 400;
    line-height: 16px;
    background-color:#c00;
    color: white;
}

.scroll-container{
    display: flex;
    position: fixed;
    z-index: 10;
    padding-bottom: 10px;
    padding-top: 20px;
    gap: 10px;
    align-items: center;
    margin-left: 100px;
    width: 100%;
    background-color: white;
    overflow: hidden;
    overflow-x: auto;
}
.scroll-container a{
    text-decoration: none;
    padding: 10px 15px;
    white-space: nowrap;
    background-color: rgb(242,242,242);
    color:black;
    font-size: 14px;
    border-radius: 10px;  
}
.scroll-container a:nth-child(1){
    background-color: black;
    color: white;
}
/* ----------sidebar toggled---------- */
.sidebar-contents::-webkit-scrollbar {
    width: .5rem;
    border-radius: 10px;
}
.sidebar-contents::-webkit-scrollbar-track {
    margin-top: 5px;
    box-shadow: inset 0 0 6px rgba(252, 251, 251, 0.3);
}  
.sidebar-contents::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0px solid slategrey;
    border-radius: 10px;
    display: none;
}
.sidebar-contents:hover::-webkit-scrollbar-thumb{
    display: block;
}
.sidebar-toggle{
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100vh;
    display: none;
    flex-direction: column;
    transition: .5s;
    width: 250px;
    overflow: hidden;
    
   
}
.sidebar-toggle .header{
    height: 56px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.sidebar-toggle .header .bi-list{
    font-size: 26px;
    padding: 10px;
    margin-left: 0 10px;
}
.sidebar-toggle .header .yt-logo{
    width: 130px;
    margin-left: -10px;
}
.sidebar-toggle .header .logo span{
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    bottom: 10px;
    right: 10px;
    color: rgb(67, 67, 67);
}
.sidebar-toggle .header a{
    position: relative;
}
.sidebar-toggle .header a img{
    width: 130px;  
}

.sidebar-toggle .sidebar-contents{
    padding: 20px 12px;
    overflow: hidden;
    overflow-y: auto;
}
.sidebar-contents a{
    display: flex;
    align-items: center;
    padding: 3px 0;
}
.sidebar-contents a:hover {
    background: rgba(172, 171, 171, 0.451);
    border-radius: 10px;
    width: 90%;
    padding: 3px 0;
}
.active{
    background: rgba(172, 171, 171, 0.451);
    border-radius: 10px;
    width: 90%;
    padding: 3px 0;
}
.sidebar-contents h3{
    display: block;
    padding: 6px 12px 4px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1rem;
    line-height: 2.3rem;
    font-weight: 500;
}
.sidebar-contents a img{
    width: 20px;
    margin-left: 12px;
    margin-right: 24px;
    color: black;  
}
.sidebar-contents a #subscription-img{
    border-radius: 50%;
    display: block;
    width: 32px;
}
.sidebar-contents a p{
    text-overflow: ellipsis;
    font-family: "Roboto","Arial",sans-serif;
    white-space: nowrap;
    font-size: .95rem;
    line-height: 2rem;
    font-weight: 400;   
    flex: 1;
    padding-right: 20px;
}
.lineBreak{
    margin: 10px 0; 
    border: 0;
    width: 90%;
    border-top: 1px solid rgba(0,0,0,0.1);
}
/* ----------End sidebar toggled---------- */

/* ----------sidebar---------- */
.sidebar{
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0;
    padding: 60px 0px;
    margin: 10px;
}
.shortcut-links{
    width: 10px;
}
.shortcut-links a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 35px 10px;
    margin-bottom: 20px;
    width: 50px;
    color: black;
}
.shortcut-links a img{
    width: 25px;
}
.shortcut-links i{
    font-size: 20px;
}
.shortcut-links a span{
   font-size: 10px;
   line-height: 1.4rem;
   font-weight: 600;
   color: black;
}
.shortcut-links a:hover{
    background-color: #cfcccc4f;
    color: black;
    border-radius: 10px;
}
/* ----------End of sidebar---------- */

/* ----------main Index page---------- */
.container{
    padding: 10px 30px 20px 100px;
    margin-top: 70px;
}
.banner{
    width: 100%;
    background-color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ad-text{
    height: auto;
    padding: 22px 10px;
    background: url(../images/ad-background.jpeg);
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-size: 100%;
}
.ad-img{
    width: 400px;
}
.ad-text p{
    color: white;
    font-weight: 700;
    font-size: 30px;
    font-family: "Roboto","Arial",sans-serif;
    max-width: 440px;
    max-height: 94px;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 1.4;
    word-spacing: 5;
}
.ad-text a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
}
.close-ad{
    color: white;
    position: absolute;
    top: 150px;
    font-size: 20px;
    right: 50px;
    padding: 10px;
    border-radius: 50%;
}
.bi-x-lg:hover{
    background-color: white;
    color: black;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px 15px;
    margin-top: 15px;
}
.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;
}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}
.vid-list .flex-div img{
    width: 36px;
    margin-right: 10px;
    border-radius: 50%;
}

.container hr{
    margin-top: 20px;
    height: 5px;
    border: 0;
    border-radius: 10px;
    background-color: #eae8e8;
}

/* ---------- shorts section in Index page ---------- */
.shorts-header{
    display: flex;
    justify-content: space-between;
    margin: 20px 5px;
}
.shorts-logo{
    height: 40px;
}
.shorts-header .close-shorts{
    font-size: 20px;
    padding: 10px;
    position: relative;
    top: -5px;
}
.shorts-header .close-shorts:hover{
    border-radius: 50%;
    background: rgba(172, 171, 171, 0.451);
}
.shorts-container{
    display: flex;
    overflow: auto;
    padding: 5px;
    gap: 15px;
}
.shorts-container::-webkit-scrollbar {
    display: none;
}
.shorts-list{
    width: 400px;
}
.shorts-list:hover .moreInfo{
    display: block;
    cursor: pointer;
}
.shorts-list .shorts-thumbnail{
    width: 215px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}
.shorts-info {
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}
.shorts-info p{
    margin-bottom: 10px;
}
.shorts-info p:nth-child(2){
    color: #5a5a5a;
    font-size: 15px;
}
.shorts-list .moreInfo{
    position: absolute;
    right: 5px;
    top: 2px;
    display: none;
    cursor: pointer;
}
.moreShortsBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    margin-bottom: -15px;
}
.moreShortsBtn:hover{
    background-color: #eae8e8;
}
/* ----------End shorts section in Index page and Index page---------- */

/* ----------media queries for index page--------- */
@media (max-width:900px){
    .nav-left .menu-icon{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 35px;
        margin-right: 15px;
    }
    .nav-middle{
        margin-left: 25px;
    }
    .nav-middle .search-box{
        border: 0;
    }
    .nav-middle .search-box input{
        display: none;
    }
    .search-box .search{
        background-color: transparent;
        margin-right: 0px;
        border: none;
    }
    .search-icon{
        margin-right: -60px;
        padding: 12px;
    }
    .search-icon:hover{
        border-radius: 50%;
        background-color: rgb(198,198,198);
    }
    .nav-middle .bi-mic-fill{
        background-color: white;
    }
    .notification .badge{
        display: none;
    }
    .nav-middle .mic-icon{
        display: none;
    }
    .container{
        padding: 2% !important;
        /* padding-left: 20px; */
    }
    .vid-list{
        width: 100%;
    }
    .list-container{
        /* gap: 20px; */
        width: 100%;
        padding: 0 !important;
    }
    .moreShortsBtn{
        display: none;
    }
    .scroll-container{
        margin-left: 0px;
        padding-left: 10px;
        margin-top: -2px;
    }
    .close-ad{
        right: 30px;
    }
}
/* ----------end of media queries for index page--------- */ 

/* ---------- play video page ---------- */
.play-container{
    padding-left: 2%;
    margin-top: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 64%;
}
.right-sidebar{
    flex-basis: 34%;
}
.right-sidebar .mini-scroll{
  display: flex;
  overflow-x: scroll;
  width: 50%;
  margin-bottom: 30px;
}
.right-sidebar ,.mini-scroll a{
    white-space: nowrap;
    text-decoration: none;
    /* padding: 10px 15px; */
    white-space: nowrap;
    color:black;
    font-size: 14px;
    border-radius: 10px; 
}
.right-sidebar .mini-scroll::-webkit-scrollbar {
    display: none;
}
.scroll-container::-webkit-scrollbar {
    display: none;
}
.play-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.side-video-list img{
    width: 100%;
    border-radius: 10px;
}
.vid-info {
    color: #5a5a5a;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 8px;
}

.vid-info a{
    color: black;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .93rem;
}
.play-video .tags{
    margin-top: 10px;
    margin-bottom: 5px;
}
.play-video .tags a{
    color: #0000ff;
    font-size: 13px;
    margin-top: 20px;
}
.play-video h3{
    font-weight: 600;
    font-size: 22px;
}
.play-video .play-video-info{
    display: flex;
    justify-content: space-between;
}

.play-video-info .flex-div a img{
    width: 40px;
    border-radius: 50%;
}
.play-video-info .flex-div .channelInfo{
    padding: 13px;
}
.play-video-info .flex-div .channelInfo a{
    color: black;
    font-weight: 600;
    text-overflow: ellipsis;
    font-size: 16px;
}
.play-video-info .flex-div .channelInfo p{
    margin-top: 5px;
    font-size: 13px;
}
.play-video-info .flex-div .btn{
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 20px;
    border: 0;
    margin-right: 10px;
    font-weight: 550;
}
.play-video-info .btn:hover{
    background-color: rgb(198,198,198);
}
.userActions .icons:hover{
    background-color: rgb(198,198,198);
}
.userActions{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    margin-bottom: 10px;
}
.userActions .btnHolder{
    display: flex;
    border-radius: 20px;
    background: #f0f0f0;
    width: auto;
}
.userActions .btnHolder .btn{
    border: 0;
    padding: 5px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    width:60px;
}
.userActions .btn span{
    position: relative;
    bottom: 4px;
    left: 5px;
    vertical-align:middle;
    margin-right: 2px;
}
.userActions .btnHolder .likeBtn{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
} 
.userActions .btnHolder .dislikeBtn{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.userActions .btnHolder .btn:hover{
    background-color: rgb(198,198,198);
}
.userActions .btnHolder .btn img{
    width: 20px;
}
.userActions .shareBtn{
    border: 0;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 15px;
    color: #606060;
}
.userActions .shareBtn img{
    width: 20px;
}
.userActions .downloadBtn{
    display: none;
    border: 0;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 15px;
    color: #606060;
}
.userActions .downloadBtn .bi-arrow-down{
    width: 20px;
    font-weight: 800;
}
.userActions .icons{
    background: #f0f0f0;
    padding: 10px;
    border-radius: 50%;
}
.video-description{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.video-description p{
    margin-bottom: 10px;
    font-size: 15px;
}
.video-description a{
    font-weight: 600;
    margin-left: 5px;
    color: black;
    font-size: 15px;
}
.comments h4{
    font-size: 15px;
    margin-top: 25px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1rem;
    line-height: 2.2rem;
    font-weight: 400;
}
.comments .add-comment{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}
.reactions{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.add-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background: transparent;
    padding-bottom: 6px;
}
.add-comment input::placeholder{
    font-family: "Roboto","Arial",sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}
.comment-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.bi-emoji-laughing{
    margin-top: -15px;
    font-size: 20px;
    padding: 6px;
    border-radius: 50%;
    background-color: #f0f0f0;
}
.bi-emoji-laughing:hover{
    background-color: rgb(198,198,198);
}
.action-btns{
    display: flex;
    gap: 10px;
    padding-right: 20px;
    align-items: flex-start;
}
.action-btns button{
    border: none;
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 20px;
}
.action-btns button:nth-child(1){
    background-color: transparent;
}
.action-btns button:nth-child(1):hover{
    background-color: rgb(198,198,198);
}
.old-comment{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 4px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment p{
    font-size: 15px;
}
.old-comment .comment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.old-comment .comment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}

.old-comment .comment-action span{
    margin-right: 20px;
    color: #5a5a5a;
    font-size: 12px;
}
.old-comment .comment-action a{
    color: #0000ff;
}
/* ----------End of play video page--------- */

/* ----------media queries for playVideo page---------- */
@media (max-width: 900px){
    .row{
        flex-direction: column;
    }
    .play-video-info{
        flex-direction: column;
    }
    .btnHolder {
        width: 10px;
    }
    .comments{
        display: none;
    }
    .video-description{
        margin-bottom: 30px;
    }
    .channelInfo p{
        display: none;
    }
    .play-video-info .flex-div i{
        display: none;
    }
    .userActions .downloadBtn{
        display: block;
    }
}
/* ----------end of media queries for playVideo page---------- */